<section class="block  container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, molestiae?</p>
    </header>
    <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores iusto, placeat unde quia nemo officiis a quos impedit nisi natus dolor vero corporis rerum et error doloribus dolorem nesciunt neque.</p>
                <a href="#" class="link-arrow">Learn more</a>
            </div>
        <picture class="block-image">
            <source type="image/webp" srcset="Images/banner1x.webp 1x" srcset="Images/banner2x.webp 2x" alt="">
            <source type="image/png" srcset="Images/banner1x.png 1x" srcset="Images/banner2x.png 2x" alt="">
            <img  class="feature__image" src="Images/banner2x.png" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores iusto, placeat unde quia nemo officiis a quos impedit nisi natus dolor vero corporis rerum et error doloribus dolorem nesciunt neque.</p>
                <a href="#" class="link-arrow">Learn more</a>
            </div>
        <picture class="block-image">
            <source type="image/webp" srcset="Images/banner1x.webp 1x" srcset="Images/banner2x.webp 2x" alt="">
            <source type="image/png" srcset="Images/banner1x.png 1x" srcset="Images/banner2x.png 2x" alt="">
            <img  class="feature__image" src="Images/banner2x.png" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="Images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores iusto, placeat unde quia nemo officiis a quos impedit nisi natus dolor vero corporis rerum et error doloribus dolorem nesciunt neque.</p>
                <a href="#" class="link-arrow">Learn more</a>
            </div>
        <picture class="block-image">
            <source type="image/webp" srcset="Images/banner1x.webp 1x" srcset="Images/banner2x.webp 2x" alt="">
            <source type="image/png" srcset="Images/banner1x.png 1x" srcset="Images/banner2x.png 2x" alt="">
            <img  class="feature__image" src="Images/banner2x.png" alt="">
        </picture>
    </article>
</section>
