<nav class="nav collapsible">
    <a class="nav__brand" href="/"><img src="/Images/logo.svg" alt=""></a>
        <svg class="icon icon--white nav__toggle">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
            <li class="nav__item"><a href="#">Item 1</a></li>
            <li class="nav__item"><a href="#">Item 2</a></li>
            <li class="nav__item"><a href="#">Item 3</a></li>
            <li class="nav__item"><a href="#">Item 4</a></li>
        </ul>
</nav>